h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
header {
  padding: 10px 0;
  text-align: center;
}
.time {
  display: block;
  color: red;
  padding: 5px;
}
.current-date {
  margin: 10px 0 0 10px;
  padding: 5px;
}

.container {
  max-width: 600px;
  padding: 0 auto;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
}
.submit-form {
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
.search-input {
  background-color: #f9f7fe;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 10px;
  padding: 10px 20px;
}
