body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}
h1 {
  text-align: center;
  font-size: 30px;
  margin: 5px;
  text-decoration: underline;
}
h4 {
  text-align: center;
  text-decoration: underline;
}
header {
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 166, 0, 0.496);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.current-details {
  padding: 4px;
  text-align: center;
}
.current-date {
  color: black;
  font-size: 20px;
  margin: 5px;
}

.time {
  font-size: 25px;
}
.location-details {
  margin: 5px;
}
.container {
  max-width: 600px;
  padding: 0 auto;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: white;
}
.submit-form {
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
.search-input {
  background-color: #f9f7fe;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 10px;
  padding: 10px 20px;
}
.weekly-forecast {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  padding-bottom: 20px;
}
.forecast-icon {
  width: 30px;
  margin-top: -30px;
  margin: -10px;
}
.forecast-day {
  font-weight: bold;
  padding: 0;
}
